.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-label-padding: 10 0 10 0;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    /*-fx-background-color: #f4f4f4;*/
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1 0 1 0;
}

.table-view {
    -fx-background-insets: -1;
    -fx-background-color: #ffffff;
    -fx-border-width: 0;
}

.table-view .cell:selected {
    -fx-background-color: #bebebe;
}