.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-label-padding: 10 0 10 0;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-border-width: 0;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1.5 0 2 0;
}

.table-view {
    -fx-background-insets: -1;
    -fx-background-color: transparent;
}

.table-view .cell:selected {
    -fx-background-color: #bebebe !important;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-row-cell:even {
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #e4e4e4;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

#split, #change {
-fx-color:#023047;
-fx-font-weight: bold;
-fx-min-height: 46.0;
-fx-min-width: 201.0;
-fx-background-color: #023047;
-fx-textFill: "WHITE";
}
